{% extends "layout.html" %}

{% set page_title = "Kainos Jobs" %}

{% block main %}
    <main>
        <section>
          <section id="roles" class="mt-4">
            <h1>View all Job Roles</h1>
            {% if Roles and Roles.length > 0 %}
            <table class ="table">
                <thead>
                    <tr>
                        <th scope="col">Job Title</th>
                        <th scope="col">Job Family</th>
                        <th scope="col">Capabilities</th>
                        <th scope="col">Management Level</th>
                        <th scope="col">Description</th>
                        <th scope="col">Min Requirements</th>
                    </tr>
                </thead>
                <tbody>
                {% for roles in Roles %}
                <tr>
                    <td>{{ roles.jobProfileTitle}}</td>
                    <td>{{ roles.jobFamily }}</td>
                    <td>{{ roles.capability }}</td>
                    <td>{{ roles.managementLevel }}</td>
                    <td>{{ roles.description }}</td>
                    <td>{{ roles.minimalEssentialRequirements }}</td>
                    <td><a href="/job-roles/{{ Roles.rolesId }}">View</a></td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
            {% else %}
            There are no Job Roles.
            {% endif %}
        </section>
    </main>
 {% endblock %}
