{% extends "layout.html" %} {% set page_title = "View Job Roles" %} {% block
main %}
<main>
    <section>
        <section id="roles" class="mt-4">
            <h1>View all Job Roles</h1>
            {% if Roles and Roles.length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Job Title</th>
                        <th scope="col">Job Family</th>
                        <th scope="col">Capabilities</th>
                        <th scope="col">Management Level</th>
                        <th scope="col">Description</th>
                        <th scope="col">Min Requirements</th>
                    </tr>
                </thead>
                <tbody>
                    {% for role in Roles %}
                    <tr>
                        <td>{{ role.jobProfileTitle}}</td>
                        <td>{{ role.jobFamily }}</td>
                        <td>{{ role.capability }}</td>
                        <td>{{ role.managementLevel }}</td>
                        <td>{{ role.description }}</td>
                        <td>{{ role.minimalEssentialRequirements }}</td>
                        <td>
                            <a href="/job-roles/{{ role.rolesId }}">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %} There are no Job Roles. {% endif %}
        </section>
    </section>
</main>
{% endblock %}
